# kubernetes
k8s/kube-config.yml
k8s/kubectl
k8s/k0sctl
k8s/k0sctl.yaml

#cloud-init
user-data.yaml

# Terraform
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

ansible/inventory.ini

# local settings
.env.sh
.terraform*
*.img

# Azure
# azure ssh bastion public key
bastion.pub


# virt manager
.vmm/